﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="cal-div span4" data-eventtype="invoice_reminder">
            <input id="eventType" value="invoice_reminder" type="hidden" />
            <a href="#" title="Add Invoice Reminder" class="addthisevent">
                Click and add some event thingey
                <span style="display: none;" class="_start">@DateTime.Today.ToString("dd-MM-yyyy") 12:00:00 PM</span>
                <span style="display: none;" class="_end">@DateTime.Today.ToString("dd-MM-yyyy") 1:00:00 PM</span>
                <span style="display: none;" class="_zonecode">15</span>
                <span style="display: none;" class="_summary">this is a sample event that will use the call back option to set up an ajax post</span>
                <span style="display: none;" class="_description"></span>
                    <span style="display: none;" class="_location">at home tinkering with code</span>
                
                <span style="display: none;" class="_organizer">Me</span>
                <span style="display: none;" class="_organizer_email">me@you.com</span>
                <span style="display: none;" class="_all_day_event">false</span>
                <span style="display: none;" class="_date_format">DD/MM/YYYY</span>
            </a>
        </div>
        <div class="log col-md-4">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    <script>
        var working_with_timer_hack = true;
        var time_it_right;
        var talk_to_server = new Object();
        talk_to_server.chat_with_server =
            function (data)
            {
                if (typeof time_it_right != 'undefined' && working_with_timer_hack)
                {
                    window.clearInterval(time_it_right);
                }

                $.post('@Url.Action("EventClicked")', data)
                   .fail
                   (function (xhr, status, error)
                   {
                       alert('fail');
                   })
                   .done
                   (function (data, status, xhr)
                   {
                       // do something with your data and stuff here.
                       alert("done: date = " + data);
                   })
                   .always
                   (function (xhr_data, status, xhr_error)
                   {
                   });
            }

        $(function ()
        {
            //use the add this event options to set up a call back to a function
            addthisevent.settings
           ({
               license: "aao8iuet5zp9iqw5sm9z",
               mouse: false,
               css: true,
               outlook: { show: true, text: "Outlook Calendar" },
               google: { show: true, text: "Google Calendar" },
               yahoo: { show: true, text: "Yahoo Calendar" },
               hotmail: { show: false, text: "Hotmail Calendar" },
               ical: { show: true, text: "iCal Calendar" },
               facebook: { show: false, text: "Facebook Event" },
               callback: ["cal_clicked(this)"]//<--- this is the function we will call after someone clicks an add event button
           });

            //add listner to fire when the ajax req are canceled for add this event
            $(document).ajaxStop
                (function ()
                {
                    $(".log").text("Triggered ajaxStop handler.")
                    if (!working_with_timer_hack)
                    {
                        talk_to_server.chat_with_server(talk_to_server.data);
                    }
                });
        });

        function cal_clicked(sender)
        {
            //best way i  have been able to drill back to the actual link.
            var what_was_clicked = $(sender.cli.caller
                .arguments.callee.arguments[0]
                .currentTarget);

            talk_to_server.data = what_was_clicked;

            //watching this call it will get canceled with another call so the server responce is not received
            talk_to_server.chat_with_server(talk_to_server.data);

            if (working_with_timer_hack)
            {
                time_it_right = window.setInterval(function () { talk_to_server.chat_with_server(talk_to_server.data); }, 3000);
            }
        }
    </script>
}